div.box {
	width: 340px;
	display: inline-block;
}
#botao11{
 float: right;
 width: 140px;
 height: 30px;
 background-color: #0a4e1ad7;
 color: whitesmoke;
border-color: rgb(0, 0, 0);
border-radius: 1000000px;
}

